@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-content {
    margin: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.resize-img {
    margin: 1rem;
    width: 300px;
    height: auto;
}

img.resize {
    width: 300px;
    height: auto; 
}

li {
    margin: 10px;
}