@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-top: 40px;
    text-align: center;
}

.question {
    background-color: lavender;
    color: black;
    border: 0.1rem solid black;
    padding: 1rem;
}

.question-item {
    margin: 1rem;
}
