<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <p class="thing">What do you think of this pattern?</p>
  <p style="text-align:center">{{name}}</p>
  <p style="text-align:center"> 
    <a href={{url}}>
      <img src= {{thumbnail}} alt={{name}}>
    </a> 
  </p>
  <p style="text-align:center">Craft: {{craft}}</p>
  <p style="text-align:center">Yarn Weight: {{weight}}</p>
  <p style="text-align:center">Downloadable? {{downloadable}}</p>
  <p style="text-align:center">Price: {{price}}</p>
  <p style="text-align:center">{{notes}}</p>
  <form action="/vote" method="POST">
    <button type="submit" name="votebtn" value="love">Love</button>
    <button type="submit" name="votebtn" value="hate">Hate<button>
  </form>
</body>

</html>