<!DOCTYPE html>
<html lang="en">

<head>
  <title>Preferences</title>
  <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
<div class="main-content">
    <div class="jumbotron">
        <h1 class="display-3">Preferences</h1>
        <form method=POST action='/vote'>
            <fieldset class="form-group">
                <legend>What is your craft?</legend>
                <select class="form-control" id='craft' name='craft'>
                        <option value = 'knitting'>Knitting</option>
                        <option value = 'crochet'>Crochet</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <legend>Are you looking for projects using a specific weight?</legend>
                <select class='form-control' id="weight" name="weight">   
                    <option value="empty">No preference</option>
                    <option value="thread">Thread</option>
                    <option value="cobweb">Cobweb</option>
                    <option value="lace">Lace</option>
                    <option value="light-fingering">Light Fingering</option>
                    <option value="fingering">Fingering</option>
                    <option value="sport">Sport</option>
                    <option value="DK">DK</option>
                    <option value="worsted">Worsted</option>
                    <option value="aran">Aran</option>
                    <option value="bulky">Bulky</option>
                    <option value="super-bulky">Super Bulky</option>
                    <option value="jumbo">Jumbo</option>
                </select>
            </fieldset>    
            <fieldset class="form-group">
                <legend>Do you have a preferred yardage?</legend>
                <select class='form-control' id="yardage-in" name="yardage">
                    <option value="empty">No preference</option>
                    <option value="0-150%7C150-300">0-300</option>
                    <option value="300-450%7C450-600">300-600</option>
                    <option value="600-750%7C750-900">600-900</option>
                    <option value="900-1200">900-1200</option>
                    <option value="1200-1500">1200-1500</option>
                    <option value="1500-1800">1500-1800</option>
                    <option value="1800-2100">1800-2100</option>
                    <option value="2100-">2100+</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <legend>Would you like to restrict your search to free patterns?</legend>
                <select class='form-control' id="free" name="free">
                    <option value="empty">No, show me all patterns.</option>
                    <option value="yes">Yes, show me only free patterns.</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <legend>Would you like to restrict your search to patterns available online?</legend>
                <select class='form-control' id="online" name="online">
                    <option value="empty">No, show me all patterns.</option>
                    <option value="yes">Yes, show me only patterns available online.</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <legend>Would you like to restrict your search a certain category?</legend>
                <select class='form-control' id="pc" name="pc">
                    <option value="empty">No preference</option>
                    <option value="clothing">Clothing</option>
                    <option value="accessories">Accessories</option>
                    <option value="home">Home</option>
                    <option value="toysandhobbies">Toys and Hobbies</option> 
                    <option value="pet%7Cpattern-component%7Cmedical">Other</option>   
                </select>
            </fieldset>
            <div class="margin-1">
                <input class="btn btn-primary btn-lg btn-block" style="margin-top:2rem" type="submit" value="Submit">
            </div>
        </form>
    </div> 
</div>
</body>

</html>